.accordian {
  height: fit-content;
  text-align: center;
  padding: 1%;
  background-color: var(--secondary-background);
  width: 90%;
  margin: auto;
  border-radius: 3px;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 0.75rem;
}

.accordian button {
  font-family: "Quattrocento Sans", sans-serif;
  margin: 2.5px;
}
