h5 {
  width: 100%;
  text-align: center;
}

h5 img {
  height: 1%;
  width: 1%;
}

@media screen and (max-width: 1000px) {
  h5 img {
    height: 2%;
    width: 2%;
  }
}

@media screen and (max-width: 500px) {
  h5 img {
    height: 3%;
    width: 3%;
  }
}
