button {
  width: 90%;
  text-align: left;
  border: none;
  background-color: var(--background);
  color: var(--text-primary);
}

.content-container {
  margin-left: 7%;
  height: fit-content;
}

.content-container-hidden {
  display: none;
}

.category-table {
  width: 90%;
}

/* .category-table tr:nth-of-type(odd) {
  background-color: var(--accent);
} */

tr:nth-of-type(odd) {
  background-color: var(--text-secondary);
}
