:root {
  --background: #f4f3f3;
  --text-primary: #000;
  --text-secondary: #8e05c2;
  --accent: #dfdfdf;
  --border: #f4f3f3;
  --form-bg: #fff;
  --error: red;
}

[data-theme="dark"] {
  --background: #26282b;
  --text-primary: #8787a3;
  --accent: #353941;
  --border: #414141;
  --error: #950101;
}

.app {
  background-color: var(--background);
  color: var(--text-primary);
  min-height: 100vh;
  margin: 0;
  font-size: 100%;
}
