:root {
  --background: #f4f3f3;
  --secondary-background: #dfdfdf;
  --text-primary: black;
  --text-secondary: #eeeeee;
  --accent: white;
  --border: #f4f3f3;
  --form-bg: #fff;
  --error: red;
}

[data-theme="dark"] {
  --background: #26282b;
  --secondary-background: #353941;
  --text-primary: white;
  --table-header: ;
  --text-secondary: gray;
  --accent: #353941;
  --border: #414141;
  --error: #950101;
}

.app {
  background-color: var(--background);
  color: var(--text-primary);
  min-height: 100vh;
  margin: 0;
  font-size: 100%;
}
